@import '../../petflix.scss';

.movie-row-list__container {
    background: black;
    padding: 10px 0 200px;
    color: white;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .movie-row-list__container {
        
    }
}


@media only screen and (max-width: 425px) {
    .movie-row-list__container {
        padding-top: 1px;
        top: 0px;
    }
}