@import '../../petflix.scss';

.nav-bar__container {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.0));
    padding: 20px 8.5vw;
    position: fixed;
    width: 100%;
    z-index: 9999;
    color: white;

    

    .nav-bar__left-menu {

        .mobile-hamburger__menu {
            display: none;
        }

        .petflix-logo {
            height: 36px;
            cursor: pointer;
            &:hover {
                transform: scale(1.1,1.1);
            }
        }
    }

    .nav-bar__right-menu {
        justify-content: flex-end;

        .nav-bar__search-container {
            position: relative;

            .nav-bar__search-input {
                background-color: rgba(255,255,255,.1);
                padding: 8px 36px;
                width: 400px;
                border-radius: 3px;
                border: none;
                color: white;
                &::placeholder {
                    color: white;
                }
                &:focus {
                    outline: none;
                }
            }
            .clear-search {
                font-size: 20px;
                position: absolute;
                display: none;
                z-index: 9999;
                left: calc(100% - 30px);
                cursor: pointer;
            }
            .clear-shown {
                display: block;
            }
            .nav-bar__icon {
                margin: 0;
                position: absolute;
                left: calc(100% - 30px);
                font-size: 20px;
                cursor: pointer;
            }

            .closed {
                transform: translateX(10px);
            }
            
            .open {
                transform: translateX(-360px);
                cursor: unset;
            }
        }

        .nav-bar__profile-dropdown {
            @include flex;
            cursor: pointer;
            position: relative;

            .nav-bar__dropdown-menu {
                position: absolute;
                background-color: rgba(0,0,0,.8);
                border-radius: 5px;
                padding: 20px;
                right: 0px;
                top: 56px;
                width: 250px;
                visibility: hidden;
                &:hover {
                    visibility: visible;
                }
    
                .nav-bar__dropdown-contents {
                    position: relative;
                    display: flex;
                    flex-direction: column;
    
                    .nav-bar__dropdown-pups-profile {
                        margin-bottom: 20px;
                        @include flex;
                        cursor: pointer;
    
                        &:hover p {
                            text-decoration: underline;
                        }
    
                        .nav-bar__dropdown-pups-profile-pic {
                            height: 32px;
                            width: 32px;
                            border-radius: 3px;
                            background-image: url('../../img/pups-profile-img.svg');
                            background-size: contain;
                        }
    
                        p {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    .nav-bar__dropdown-menu-line {
                        height: 1px;
                        width: 100%;
                        background-color: lightgrey;
                        margin: 0;
                    }
                    .nav-bar__dropdown-menu-link {
                        margin: 20px 48px 0 0;
                        font-size: 14px;
                        &:first-of-type {
                            margin-bottom: 0;
                        }
                        &:last-of-type {
                            margin-bottom: 16px;
                        }
                    }
    
                    .nav-bar__dropdown-menu-caret {
                        position: absolute;
                        top: -40px;
                        right: 14px;
                    }
                }
            }

            &:hover .nav-bar__caret {
                transform: rotate(180deg);
            }
            &:hover .nav-bar__dropdown-menu {
                visibility: visible;
            }

            

            .nav-bar__profile-square {
                height: 32px;
                width: 32px;
                border-radius: 3px;
                background-image: url('../../img/user-profile-img.svg');
                background-size: contain;
            }

            .nav-bar__caret {
                margin-left: 10px;
                height: 15px;
                transition: transform 0.3s ease-in-out;
            }

            
        }

        

    }
        
}



@media only screen and (max-width: 768px) {
    .nav-bar__container {
        padding: 15px 8.5vw;
        z-index: 99999;
        .nav-bar__left-menu {
            .petflix-logo {
                height: 30px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .nav-bar__container {
        padding: 0 5vw;
        height: 70px;
        z-index: 99999;
        .nav-bar__left-menu {
            .mobile-hamburger__menu {
                display: block;
                margin-right: 16px;
                font-size: 20px;
                padding: 1px;
            }
            .petflix-logo {
                display: none;
            }
        }
        .nav-bar__right-menu {
            .nav-bar__search-container {
    
                .nav-bar__search-input {
                    background-color: rgba(255,255,255,.1);
                    padding: 10px 36px;
                    width: 280px;
                    border-radius: 3px;
                    border: none;
                    color: white;
                    &:focus {
                        outline: none;
                    }
                }
                .open {
                    transform: translateX(-240px);
                }
            }
        }
    }

}