@import '../../petflix.scss';

.navbar-wrapper {
 display: flex;
 justify-content: center;
 height: 10vh;
 border-bottom: 1px solid #3a3a3a;
 flex-shrink: 0;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: 1px solid #3a3a3a;
    flex-shrink: 0;
}

.navbar-container {
   padding: 12px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 70px;
}

.footer-container {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;

    .copyright {
        margin: 0;
        opacity: .5;
        p {
            font-weight: 400;
        }
    }
 }
 

.navbar-logo {
    .navbar-logo_text {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        margin: 0;
    }
}

.navbar-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px 0 40px;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    width: 100%;
    &:hover {
        border: 1px solid white;
    }

    .search_input {
        background-color: transparent;
        color: white;
        border: none;
        padding: .75em;
        font-size: 16px;
        width: 100%;
        &:focus {
            outline: none;
        }
       
    }
    .icon {
        position: absolute;
        font-size: 20px;
        color: white;
    }

    .search_icon {
        left: 12px;
    }
    .clear_icon {
        right: 12px;
        cursor: pointer;
        font-size: 16px;
    }
}

.navbar-profile_icon{
    height: 40px;
    width: 40px;
    border-radius: 7px;
    border: 1px solid #3a3a3a;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        opacity: .7;
        border: 1px solid white;
    }

    .img {
        color: white;
        font-weight: 700;
        margin: 0;
    }

    .initial {
        font-size: 24px;
    }
}

.navbar-menu {
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    .icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 1240px) and (min-width: 1024px) {
    .navbar-container {
        gap: 24px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 864px) {
    .navbar-container {
        gap: 24px;
    }
}

@media screen and (max-width: 864px) and (min-width: 425px) {
    .navbar-container {
        gap: 24px;
    }
}

@media screen and (max-width: 425px) {
    .navbar-wrapper,
    .footer-wrapper {
        height: 8vh;
    }

    .navbar-container {
        gap: 12px;
    }
    .footer-container {
        justify-content: center;
     }

    .navbar-logo {
        display: none;
    }

    .navbar-profile_icon {
        display: flex;
    }

    .navbar-menu {
        display: flex;
        flex-shrink: 0;
    }



}