@import '../../petflix.scss';


.hero-display__container {
    height: 70vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,.2);
    background-blend-mode: color;
    background-attachment: fixed;

    .hero-fader {
        height: 100px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%);
        
    }

    .hero-display__movie-information {
        padding: 0 8.5vw;

        .info__wrapper {
            width: 60%;
            margin-bottom: 24px;
        }

        .hero-display__movie-logo {
            max-height: 175px;
            max-width: 450px;
            margin-bottom: 8px;
        }

        .hero-display__movie-description {
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            color: white;
            @include txt-shadow;
            
        }
        
        .play {
            background-color: white;
            &:hover {
                background-color: lightgrey;
            }
        }  
    }

    .display-trailer {
        background-color: $main-color;
        color: white;
        margin-top: 36px;
        &:hover {
            background-color: darken($main-color, 20%);
        }
    }

    .hero-display__rating {
        position: absolute;
        padding: 12px;
        bottom: 100px;
        color: white;
        border-radius: 3px;
        background-color: rgba(255,255,255,.1);
        right: 8.5vw;

        .icon {
            margin-right: 12px;
        }

        p {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }

    }
}


@media only screen and (max-width: 768px) {
    .hero-display__container {
        height: 60vh;
        .hero-display__movie-information {
            padding-left: 8.5v;
            margin-bottom: 0px;
            .hero-display__movie-logo {
                max-height: 100px;
                max-width: 300px;
                margin-bottom: 8px;
            }
            .hero-display__heading {
                font-size: 20px;
            }
            .hero-display__movie-description {
                font-size: 18px;
                
            }
        }
        .hero-display__rating {
            bottom: 100px;
            p {
                
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .hero-display__container {
        height: 80vh;

        .hero-fader {
            height: 50px;
        }
        .hero-display__movie-information {
            padding:  0 5vw;
            .info__wrapper {
                width: 80%;
                margin-bottom: 24px;
            }
        }
        .hero-display__movie-description {
            font-size: 18px;
        }

        .hero-display__rating {
            right: 5vw;
        }
    }
}